[submodule "agent/third_party/simdjson"]
	path = agent/third_party/simdjson
	url = https://github.com/simdjson/simdjson.git
	branch = v4.6.4
[submodule "agent/third_party/fmt"]
	path = agent/third_party/fmt
	url = https://github.com/fmtlib/fmt
	branch = 12.1.0
[submodule "agent/third_party/neograph"]
	path = agent/third_party/neograph
	url = https://github.com/coolight7/NeoGraph
[submodule "agent/third_party/html2md"]
	path = agent/third_party/html2md
	url = https://github.com/tim-gromeyer/html2md
[submodule "agent/third_party/glob"]
	path = agent/third_party/glob
	url = https://github.com/p-ranav/glob
[submodule "agent/third_party/vectorscan"]
	path = agent/third_party/vectorscan
	url = https://github.com/VectorCamp/vectorscan
[submodule "agent/third_party/uchardet"]
	path = agent/third_party/uchardet
	url = https://gitlab.freedesktop.org/uchardet/uchardet
[submodule "agent/third_party/yaml-cpp"]
	path = agent/third_party/yaml-cpp
	url = https://github.com/jbeder/yaml-cpp
[submodule "agent/third_party/liburing"]
	path = agent/third_party/liburing
	url = https://github.com/axboe/liburing