[submodule "deep-agents-ui"]
	path = deep-agents-ui
	url = https://github.com/coolight7/deep-agents-ui
[submodule "server-cpp-langgraph/third_party/simdjson"]
	path = server-cpp-langgraph/third_party/simdjson
	url = https://github.com/simdjson/simdjson.git
	branch = v4.6.4
[submodule "server-cpp-langgraph/third_party/fmt"]
	path = server-cpp-langgraph/third_party/fmt
	url = https://github.com/fmtlib/fmt
	branch = 12.1.0
[submodule "server-cpp-langgraph/third_party/neo_graph"]
	path = server-cpp-langgraph/third_party/neo_graph
	url = https://github.com/fox1245/NeoGraph
